{% extends "base.html" %}
{% block content %}
<div id="name" class ="col "> </div>

	<table class="table">
		<thead>
		<tr><th>번호</th><th>제목</th><th>내용</th><th>등록일</th><th>업데이트일</th><th>수정삭제</th></tr>  
		</thead>
		<tbody>
		{% if content %}
	              	<tr>
			              <td><p>{{ content.id }}</p></td>
			              <td>
			                  <p>
			                      	{{ content.title }}
			                  </p>
			              </td>
			              <td>
			                  <p>
			                      	{{ content.content }}
			                  </p>
			              </td>
			              <td><p>{{ content.register_date }}</p></td>
			              <td><p>{{ content.update_date_end }}</p></td>
	              	</tr>
      		{% else %}
          		<p>No Data.</p>
      		{% endif %}
      		</tbody>
 	 </table>

{% endblock %}