{% extends "base.html" %}
{% block content %}
	<table class ="table table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th><th>제목</th><th>등록일</th><th>업데이트일</th><th>삭제</th></tr>  
			</tr>
		</thead>
		<tbody>	
		{% if boardList %}
	              	{% for boardRow in boardList %}
	              	<tr>
			              <td><p>{{ boardRow.id }}</p></td>
			              <td><p><a href= "{% url 'board:get' boardRow.id %}" title="">{{ boardRow.title }}</a></p></td>
			              <td><p>{{ boardRow.register_date }}</p></td>
			              <td><p>{{ boardRow.update_date }}</p></td>
			              <td><input type=button value="삭제"  OnClick="window.location='./delete/{{ boardRow.id }}'"></td>
	              	</tr>
	             	 {% endfor %}
      		{% else %}
          		<p>No Data.</p>
      		{% endif %}
      		</tbody>
 	 </table>

 	 <table width=700>
		<tr>
			<td><input type=button value="글쓰기"  OnClick="window.location='./write'"></td>
		</tr>
	</table>
{% endblock %}
