{% extends "base.html" %}
{% block content %}
	<center>
		<form>
			 {{ form.media }}   {{ form.as_p }}

    			<input type="button" value="확인" onClick="{% url 'board:save' %}"/>

		</form>
	</center>
{% endblock %}

<!-- <form name="boardForm" method=post action="{% url 'board:save' %}">
			{% csrf_token %} 
			<table class ="table">
				<tr>
					<td>제목</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>업데이트 날짜</td>
					<td><input type="text" name="update_date"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td>{{ form.media }}   {{ form.as_p }}</td>
				</tr>
				<tr>
					<td>사진</td>
					<td><input type="text" name="title_img"></td>
				</tr>
			</table>
			<br><br> -->