{% extends "base.html" %}

{% block content %}
<!-- 여기에 코드 추가 -->
	<center>
		<form name="boardForm" method=post action="{% url 'board:save' %}">
			{% csrf_token %} 
			<table cellpadding=5 cellspacing=0 border="1">
				<tr>
					<td bgcolor="pink">제목</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td bgcolor="pink">업데이트 날짜</td>
					<td><input type="text" name="update_date"></td>
				</tr>
				<tr>
					<td bgcolor="pink">내용</td>
					<td colspan="2"><textarea rows="5" name="contents" cols="40"></textarea></td>
				</tr>
				<tr>
					<td bgcolor="pink">사진</td>
					<td><input type="text" name="title_img"></td>
				</tr>
			</table>
			<br><br>
			<!-- <input type="hidden" name="action" value="insert"/> -->
			<!-- <input type="hidden" name="hits" value="0"/> -->
			<!-- <input type="button" value="목록" onClick="javascript:list()"/> -->
			<input type="submit" value="등록"/>
		</form>
	</center>
{% endblock %}